header {
  background-color: $salmon;
  margin: 0;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font-family: $capriola;
  font-size: 0.7rem;
  color: $deep-violet;
}

.logout {
  font-size: 1rem;
  font-family: $capriola;
  background-color: $salmon;
  border: none;
  color: $snow;
}
