header {
  background-color: $salmon;
  margin: 0;
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font-family: $capriola;
  font-size: 0.7rem;
  color: $primary-black;
  box-shadow: 0px 1px 10px rgb(124, 124, 124);
}

.logout {
  font-size: 1rem;
  font-family: $capriola;
  background-color: $salmon;
  border: none;
  color: $snow;
}
