.home-body {
  background-color: $snow;
  height: 100%;
  color: $primary-black;
}

.home-message {
  margin-bottom: 2rem;
}

.profile-image {
  height: 17rem;
  margin: 0 auto 20rem auto;
  border-radius: 5px;
}

.home-main {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  font-family: $capriola;
}
