$snow: #efedea;
$deep-violet: #340068;
$salmon: #ff6978;
$primary-black: #212227;

@import url('https://fonts.googleapis.com/css?family=Capriola');

$capriola: 'Capriola', sans-serif;

@import 'splash';
@import 'home';
@import 'header';

body {
  margin: 0;
  padding: 0;
  font-size: 17px;
}
